@import "@styles/colors.scss";

.todo-btn {
  border-radius: 6px;
  padding: 5px 6px;
  margin: 3px;
  font-size: 18px;

  &:hover {
    scale: 1.1;
  }

  &:focus {
    scale: 0.9;
  }
}

.todo-light {
  background-color: $white;
  color: $primary_gray;
  border: 1px solid $primary_gray;
  transition: 1s;

  img {
    filter: invert(58%) sepia(1%) saturate(0%) hue-rotate(148deg)
      brightness(87%) contrast(81%);
  }
}

.todo-dark {
  background-color: $secondary_gray;
  color: $white;
  border: 1px solid $white;
  transition: 1s;

  img {
    filter: invert(98%) sepia(2%) saturate(7%) hue-rotate(21deg)
      brightness(104%) contrast(102%);
  }
}
