@import "@styles/colors.scss";

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  [type="text"],
  [type="password"] {
    font-size: 1rem;
  }
}

.input {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;

  &__wrapper {
    display: flex;
    border: 1px solid $primary_lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    height: 42px;
  }

  &__body {
    border: none;
    outline: none;
    width: 100%;
    height: 2em;
  }

  &__error {
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: $secondary_orange;
    color: $black;
    padding: 2px 5px;
  }
}

.auth-input {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 50px;
  padding: 0 10px;
  gap: 10px;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: $primary_lightgray;
    width: 280px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($primary_lightgray, 10%);
    border-radius: 5px 0 0 5px;
    height: 50px;
    width: 50px;
  }

  &__body {
    border: none;
    outline: none;
    background-color: $primary_lightgray;
    height: 2em;
    width: 100%;
  }
}

.auth-input__error {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: $red;
}

.light {
  background-color: $white;
  color: $black;
  transition: all 1s;

  &::placeholder {
    color: $primary_gray;
  }
}

.dark {
  background-color: $secondary_gray;
  color: $white;
  transition: all 1s;

  &::placeholder {
    color: $primary_lightgray;
  }
}
