@import "@styles/colors.scss";

.signin {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 15px;

    & > a {
      text-decoration: none;
      color: $primary_gray;

      &:hover {
        color: $primary_orange;
      }
    }
  }
}
