/* ---------- COLORS ---------- */
$primary_orange: #f57f17;
$secondary_orange: blanchedalmond;
$primary_gray: gray;
$secondary_gray: #616161;
$primary_lightgray: lightgray;
$lightlemon: #f9fbe7;
$black: black;
$white: white;
