@import "../../../styles/colors.scss";

.todo-btn {
  border-radius: 6px;
  padding: 5px 6px;
  margin: 3px;
  font-size: 18px;

  &:hover {
    scale: 1.1;
  }

  &:focus {
    scale: 0.9;
  }
}

.todo-light {
  background-color: $background_color_white;
  color: $text_color_grey;
  border: 1px solid $border_color_grey;
}

.todo-dark {
  background-color: $background_color_grey;
  color: $text_color_white;
  border: 1px solid $border_color_white;
}
