@import "../../../styles/colors.scss";

.app-btn {
  border-radius: 5px;
  border: 2px solid $border_color_orange;
  background-color: $background_color_orange;
  color: $text_color_white;

  &:hover {
    background-color: $background_color_white;
    color: $text_color_orange;
  }

  &:disabled {
    background-color: $background_color_orange;
    color: $text_color_white;
    opacity: 0.7;
  }
}
