@import "@styles/colors.scss";

.close-btn {
  border: 1px solid $primary_orange;
  border-radius: 5px;
  color: $primary_orange;
  font-size: 10px;
  padding: 5px;
  align-self: center;

  &:hover {
    scale: 1.1;
  }

  &:focus {
    scale: 0.9;
  }

  img {
    filter: invert(55%) sepia(66%) saturate(1061%) hue-rotate(346deg)
      brightness(94%) contrast(104%);
  }
}

.close-light {
  background-color: $white;
  transition: all 1.5s;
}

.close-dark {
  background-color: $primary_lightgray;
  outline: 1px solid $primary_lightgray;
  transition: all 1.5s;
}
