@import "@styles/colors.scss";

.search {
  &__wrapper {
    flex: 1;
  }

  &__icon {
    align-self: center;

    img {
      filter: invert(58%) sepia(1%) saturate(0%) hue-rotate(148deg)
        brightness(87%) contrast(81%);
      transform: rotate(270deg);
    }
  }
}
