@import "@styles/colors.scss";

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 10px;
    }

    .header {
      &__body {
        width: 100%;
        flex-direction: column;
      }

      &__add-todo-section {
        margin-bottom: 10px;
      }
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET ---------- */
@media (min-width: 601px) and (max-width: 965px) {
  header {
    h1 {
      margin-right: 20px;
    }

    .header {
      &__body {
        flex-direction: column;
        flex: 1;
      }

      &__add-todo-section {
        margin-bottom: 10px;
      }
    }
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media (min-width: 968px) {
  header {
    h1 {
      margin-right: 20px;
    }

    .header {
      &__body {
        flex: 1;
      }

      &__add-todo-section {
        margin-right: 50px;
      }
    }
  }
}

header {
  display: flex;
  justify-content: flex start;
  padding: 15px 15px 5px 15px;

  h1 {
    color: $primary_orange;
    width: 148px;
  }

  .header {
    &__body {
      display: flex;
      justify-content: space-between;
    }

    &__add-todo-section {
      display: flex;
      flex: 2;
      align-items: flex-start;
    }

    &__btn-add {
      margin-left: 10px;
      padding: 9px 22px;
      font-size: 20px;
    }
  }
}
