@import "./styles/colors";

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* ---------- MEDIA SCREEN -- TABLET && DESKTOP ---------- */
@media (min-width: 601px) {
  body {
    font-size: 14px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app__container {
  max-width: 968px;
  margin: 0 auto;
  min-height: 100vh;
}

.light {
  .text {
    color: $text_color_black;
    transition: all 1s;
  }
  .background {
    background-color: $background_color_white;
    transition: all 1s;
  }
}

.dark {
  .text {
    color: $text_color_white;
    transition: all 1s;
  }
  .background {
    background-color: $background_color_grey;
    transition: all 1s;
  }
  .border {
    border: 1px solid $border_color_white;
    transition: all 1s;
  }
}
