/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    margin-bottom: 10px;
  }
  .header__body {
    width: 100%;
  }
}

/* ---------- MEDIA SCREEN -- TABLET && DESKTOP ---------- */
@media (min-width: 601px) {
  .header__body {
    flex: 1;
  }
  header h1 {
    margin-right: 20px;
  }
}

header {
  display: flex;
  justify-content: flex start;
  padding: 15px;
}

header h1 {
  color: #f57f17;
}

.header__body {
  display: flex;
  justify-content: space-between;
}
