@import "../../styles/colors.scss";

footer {
  width: 100%;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;

  &__link {
    text-decoration: none;
    color: $text_color_orange;
    margin: 0 5px;

    &:hover {
      color: $text_color_black;
    }
  }
}
