@import "@styles/colors";

.nav-bar {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }

  &__signin-btn {
    cursor: pointer;
    border: none;

    &:hover {
      color: $primary_orange;
    }
  }
}

.signin-btn-light {
  background-color: $white;
  transition: 1s;
}

.signin-btn-dark {
  background-color: $secondary_gray;
  color: $white;
  transition: 1s;
}
