@import "../../styles/colors.scss";

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .todo-item {
    &__container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__btn-wrapper {
      flex-direction: column;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET && DESKTOP ---------- */
@media (min-width: 601px) {
  .todo-item {
    &__container {
      align-items: center;
    }

    &__dates {
      width: 160px;
    }
  }
}

.todo-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid $border_color_light;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;

  &.checked {
    background-color: $background_color_completed;
  }

  &__container {
    display: flex;
    flex: 1;
  }

  &__checkbox {
    cursor: pointer;
    margin: 10px 15px 10px 10px;

    &_label {
      cursor: pointer;
    }
  }

  &__dates {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 12px;
    color: $text_color_grey;
  }

  &__title {
    overflow: hidden;
    word-break: break-all;
    flex: 1;

    &.checked {
      text-decoration: line-through;
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
  }
}

.todo-items__empty-page {
  text-align: center;
}
